<!--viewalldogs handlebars view accessed from homeRoutes /viewalldogs after clicking /viewalldogs anchor on homepage-->
<!--TO DO: Make a home route linking to this page, make a handlebars 'for each' loop to get all the dogs from the database and get all their names, info-->
<!--TO DO: Make get request API route to get all the dogs from the database in the API routes folder, dogRoutes file-->
<h2>Current Dogs</h2>

<!--handlebars syntax version of a loop to get each dog as alias |dog|, and print all the properties for each dog-->
<!--To Do: check if correct naming to retrieve the dog data properly-->
{{#each dogs as |Dog|}}
  <div class="dog-container">
    <h2>{{Dog.name}}</h2>
    <div class="dog-details">
      <p>Breed: {{Dog.breed}}</p>
      <p>Age: {{Dog.age}}</p>
      <p>Size: {{Dog.size}}</p>
      <p>Weight: {{Dog.weight}}</p>
      <p>Sex: {{Dog.sex}}</p>
      <p>Vaccinated: {{Dog.vaccinated}}</p>
      <p>Spayed/Neutered: {{Dog.spayed}}</p>
      <p>Fee: {{Dog.fee}}</p>
      <!-- Add any other properties you want to display -->
    </div>
  </div>
{{/each}}
